body {
    margin: 0;
}

.wrap {
    /*background: darksalmon;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 3vh;

}

.product-card {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 20vw;
    min-width: 100px;
    background: cornflowerblue;
    border: grey solid 3px;
    border-radius: 10px;
    text-align: center;

}