/*post-details.html - */
/*блок з інфою про пост */
/*зверху. Коментарі - по 4 в ряд.
Всі елементи котрі характеризують users, posts, comments візуалізувати, */
/*  так, щоб було видно що це блоки (дати фон. марджини і тд)*/

body {
    font-size: 20px;
    color: white;
    margin: 0;
    background-image: url("batt.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    row-gap: 5vw;
}

.mainWrap {
    margin-left: 10vw;
    display: flex;
    flex-direction: column;

}

.commentsblock {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
    grid-gap: 5vw;
    p {
        background: rgba(170, 167, 204, 0.7);
        border-radius: 10px;
        padding: 5px;
    };
    span {
        font-weight: bold;
    }
}
